<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680509866471-f28triv3jc5u2mliqmoud1nd4p1omm29.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680509866471-f28triv3jc5u2mliqmoud1nd4p1omm29</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>680509866471-02q9o6ho9pg0tvbvimbinmvn6oun4cma.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQtOv9ZqM8pwEtRyJdS5bZcSguac9CZHw</string>
	<key>GCM_SENDER_ID</key>
	<string>680509866471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.picon.picon</string>
	<key>PROJECT_ID</key>
	<string>picon-co</string>
	<key>STORAGE_BUCKET</key>
	<string>picon-co.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680509866471:ios:dc78ee3463b3cda6b6bd42</string>
	<key>DATABASE_URL</key>
	<string>https://picon-co-default-rtdb.firebaseio.com</string>
</dict>
</plist>